<header id="header" data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/sidebar-right.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">

		<div class="container">
			<div class="block-header" style="text-align: center;">
				<h2>Market Movement / Cost Visualization</h2>

				<!-- <ul class="actions">
					<li><a href=""> <i class="zmdi zmdi-trending-up"></i>
					</a></li>
					<li><a href=""> <i class="zmdi zmdi-check-all"></i>
					</a></li>
					<li class="dropdown" dropdown><a href="" dropdown-toggle>
							<i class="zmdi zmdi-more-vert"></i>
					</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="">Refresh</a></li>
						</ul></li>
				</ul> -->

			</div>
			<div style="font-size: 15px;">
				<div>
					<b>What?</b>
				</div>
				<p>Present a visualization strategy that highlights volume of
					freight movements. The visualization strategy should incorporate a
					methodology of basic statistics (i.e. the average cost to move
					between zones). Your visualization should also compare with third
					party index cost data.</p>


				<br /> <br />

				<div>
					<b>Background</b>
				</div>
				<p>XPO moves freight throughout continental North America. From
					a pricing perspective, distance has a great impact on cost. One
					method we use to normalize pricing is to create geographic price
					regions. We then calculate gross transportation costs shipping
					between regions. We are faced with several constraints with
					geographic data:</p>
				<ul>
					<li>Regions might cover larger areas of the country</li>
					<li>Regions generally do not overlap and may be considered
						contiguous and adjacent</li>
					<li>Large metropolitan cities might also be broken up into
						several regions.</li>
				</ul>
				<p>There are several third party market pricing indexes that
					provide data relevant to transportation costs. These indexes do
					have a concept of regions, but do not directly map to XPO regions.</p>


				<br /> <br />

				<div>
					<b>Why?</b>
				</div>
				<ul>
					<li>To increase visibility into costs of moving freight.</li>
					<li>To
					provide visibility to the Sales team into what geographic areas are
					hot and where we should focus our attention</li>
					<li>Large metropolitan cities might also be broken up into
						several regions.</li>
				</ul>
				<p>There are several third party market pricing indexes that
					provide data relevant to transportation costs. These indexes do
					have a concept of regions, but do not directly map to XPO regions.</p>


			</div>
	</section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
