<header id="header" data-ng-include="'template/header.html'"
	data-ng-controller="headerCtrl as hctrl"></header>

<section id="main">
	<aside id="sidebar" data-ng-include="'template/sidebar-left.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

	<aside id="chat" data-ng-include="'template/sidebar-right.html'"
		data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>

	<section id="content">

		<div class="container">
			<div class="block-header">
				<h2>Default</h2>

				<!-- <ul class="actions">
					<li class="dropdown" dropdown><a href="" dropdown-toggle>
							<i class="zmdi zmdi-more-vert"></i>
					</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a href="">Refresh</a></li>
						</ul></li>
				</ul> -->

			</div>

			<div style="text-align: center;">
				<select
					ng-options="item.id as item.cityName for item in originCities"
					ng-model="selectedOriginCity" ng-change="UpdateBarChart(this)"></select>
			</div>
			<br />
			<div>

				<div class="panel panel-primary">
					<div class="panel-heading">

						<i class="zmdi zmdi-trending-up"></i> Market Price Estimation
					</div>
					<div class="panel-body">
						<div id="modelBar"></div>
					</div>
				</div>

				<br /> <br />
				<div class="panel panel-primary">
					<div class="panel-heading">

						<i class="zmdi zmdi-trending-up"></i> Market Cost Comparison Graph
					</div>
					<div class="panel-body">
						<div id="modelCostBar"></div>
					</div>
				</div>

				<br /> <br />
				<div class="panel panel-primary">
					<div class="panel-heading">

						<i class="zmdi zmdi-trending-up"></i> Market cost comparison Graph
					</div>
					<div class="panel-body">
						<p ng-hide="isNutralFrequency">
							Least Frequent Destinations: <ul><li
								ng-repeat="item in leastFrequentDestination">
								{{item.val}} </li></ul>
						</p>

						<p ng-hide="isNutralFrequency">Most Frequent Destinations:
						<ul>
							<li ng-repeat="item in mostFrequentDestination">
								{{item.val}}</li>
						</ul>
						</p>

						<p ng-show="isNutralFrequency">Fright movement is normal for
							destinations:
						<ul>
							<li ng-repeat="item in mostFrequentDestination">
								{{item.val}}</li>
						</ul>
						</p>
					</div>
				</div>


				<br /> <br />
				<div class="panel panel-primary">
					<div class="panel-heading">

						<i class="zmdi zmdi-trending-up"></i> Monthly Estimation
					</div>
					<div class="panel-body">
						<div id="modelBarDate"></div>
					</div>
				</div>



			</div>
		</div>

	</section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
